.about{
    width:100%;
    max-width:$max-width;
    margin:0 auto;
    margin-top:92px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__intro{
        margin-bottom: 54px;
        padding:0 30px;
    }
    &__title{
        margin-bottom: 16px;
    }
    &__card-container{
        margin-bottom: 64px;
    }
    &__card{
        text-align: left;
        position:relative;
        &:not(:last-child){
            margin-bottom: 40px;
        }
    }
    &__card-title{
        line-height:38px;
        background-color: $color-pale-red;
        margin-left: 26px;
        margin-bottom: 13px;
        padding-left:72px;
    }
    &__card-paragraph{
        padding:0 16px;
    }
    &__badge{
        background-color: $color-bright-red;
        color:$color-very-light-gray;
        display: inline-block;
        line-height: 38px;
        padding:0 24px;
        border-radius: 32px;
        position:absolute;
        top:0;
        left:16px;
    }
}

@media screen and (min-width:$md-screen){
    .about{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top:106px;
        &__intro{
            text-align: left;
        }
        &__title{
            width: 480px;
            margin-bottom:20px;
        }
        &__paragraph{
            width:360px;
        }
        &__card{
            max-width:460px;
            &:not(:last-child){
                margin-bottom: 36px;
            }
        }
        &__card-title{
            line-height:38px;
            background-color: transparent;
            margin-left: 16px;
            margin-bottom: 6px;
            padding-left:0;
        }
        &__badge{
            top:0;
            left:-72px;
        }
    }
}