.about{
    width:100%;
    max-width:$max-width;
    margin:0 auto;
    margin-top:10rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__intro{
        margin-bottom: 5rem;
        padding:0 2.6rem;
    }
    &__title{
        margin-bottom: 1.6rem;
    }
    &__card-container{
        margin-bottom: 6.4rem;
    }
    &__card{
        text-align: left;
        position:relative;
        &:not(:last-child){
            margin-bottom: 5rem;
        }
    }
    &__card-title{
        line-height:3.8rem;
        background-color: $color-pale-red;
        margin-left: 2.6rem;
        margin-bottom: 1.3rem;
        padding-left:7.2rem;
    }
    &__card-paragraph{
        padding:0 1.6rem;
    }
    &__badge{
        background-color: $color-bright-red;
        color:$color-very-light-gray;
        display: inline-block;
        line-height: 3.8rem;
        padding:0 2.4rem;
        border-radius: 3.2rem;
        position:absolute;
        top:0;
        left:1.6rem;
    }
}

@media screen and (min-width:$md-screen){
    .about{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        &__intro{
            text-align: left;
        }
        &__title{
            width: 48rem;
            margin-bottom: 3.2rem;
        }
        &__paragraph{
            width:36rem;
        }
        &__card{
            max-width:46rem;
        }
        &__card-title{
            line-height:3.8rem;
            background-color: transparent;
            margin-left: 1.6rem;
            margin-bottom: 1.3rem;
            padding-left:0;
        }
        &__badge{
            top:0;
            left:-7.2rem;
        }
    }
}