.header{
    position: absolute;
    top:44px;
    left:0;
    width: 100%;
    z-index:10;
    &.scrolled{
        position: fixed;
        background-color: #fff;
        top:0;
        padding:16px 0;
        z-index:10;
        box-shadow: 0rem 0rem 0.4rem 0rem rgba(0,0,0, 0.2);
        animation: NavbarInAnim .6s ease-in-out;
    }
    &__container{
        width:100%;
        max-width:$max-width;
        margin: 0 auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:0 16px;
    }
    &__brand{
        z-index: 10;
        &-img{
            width:auto;
            height:18px;
        }
    }
    &__toggle-btn{
        display:block;
        z-index: 10;
    }
    &__nav{
        position:absolute;
        top:70px;
        left:-100%;
        width:calc(100% - 48px);
        max-width:420px;
        z-index: 10;
        background-color: #fff;
        border-radius: 6px;
        transition: all 1s ease;
        &.active{
            left:50%;
            transform: translateX(-50%);
        }
    }
    &__nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:40px 0;
    }
    &__nav-item{
        &:not(:last-child){
            margin-bottom: 24px;
        }
    }
    &__nav-link{
        font-size:16px;
        font-weight: $fw-bold;
    }
    &__get-started-btn{
        display:none;
    }
}
@media screen and(min-width:$md-screen){
    .header{
        top:56px;
        &__toggle-btn{
            display:none;
        }
        &__get-started-btn{
            display:block;
        }
        &__brand{
            &-img{
                height:24px;
            }
        }
        &__nav{
            position: relative;
            background: transparent;
            top:auto;
            left: auto;
        }
        &__nav-list{
            flex-direction: row;
            padding:0;
        }
        &__nav-item{
            &:not(:last-child){
                padding-right:32px;
                margin-bottom: 0;
            }
        }
        &__nav-link{
            font-size:14px;
            font-weight: $fw-bold;
            color:$color-dark-blue;
            &:hover{
                color:$color-dark-grayish-blue;
            }
        }
    }
}
