.testimonials{
    width:100%;
    padding:0 2.6rem;
    text-align: center;
    margin-bottom: 3.2rem;
    &__title{
        margin-bottom: 6rem;
    }
    &__card-container{
        margin-bottom:9rem;
    }
    &__card{
        padding:3.8rem 2.6rem;
        background-color: $color-very-light-gray;
        display:flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 53.6rem;
        margin:3.6rem 0 0rem;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &-img{
            position: absolute;
            top:-3.6rem;
            left:50%;
            transform: translateX(-50%);
            width:7.2rem;
            height:7.2rem;
            border-radius: 50%;
        }
    }
}

@media screen and (min-width:$md-screen){
    .testimonials{
        margin-top: 8rem;
        &__title{
            margin-bottom: 8rem;
        }
        &__card-container{
            margin-bottom: 2rem;
        }
        &__card{
        min-width: 53.6rem;
        padding:3.8rem 4.4rem;
            &-title{
                margin:2.6rem 0;
            }
        }

    }
}