.testimonials{
    width:100%;
    padding:0 26px;
    text-align: center;
    margin-bottom: 32px;
    &__title{
        margin-bottom: 60px;
    }
    &__card-container{
        margin-bottom:90px;
    }
    &__card{
        padding:38px 26px;
        background-color: $color-very-light-gray;
        display:flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 536px;
        margin:36px 0 0;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &-img{
            position: absolute;
            top:-36px;
            left:50%;
            transform: translateX(-50%);
            width:72px;
            height:72px;
            border-radius: 50%;
        }
    }
}

@media screen and (min-width:$md-screen){
    .testimonials{
        margin-top: 80px;
        padding:0;
        &__title{
            margin-bottom: 80px;
        }
        &__card-container{
            margin-bottom: 20px;
        }
        &__card{
        min-width: 536px;
        padding:38px 44px;
            &-title{
                margin:26px 0;
            }
        }

    }
}