.btn {
  font-size: 13px;
  font-weight: $fw-bold;
  padding: 14px 32px;
  border-radius: 32px;
  background: $color-bright-red;
  color: $color-very-light-gray;
  transition: all 0.4s ease;
  text-transform: capitalize;
  box-shadow: 0rem 2px 3px 2px rgba(242, 95, 58, 0.6);
  &--secondary {
    background-color: $color-very-light-gray;
    color: $color-bright-red;
  }
  &--sm {
    padding: 14px 24px;
  }
  &--no-shadow{
    box-shadow: none;
  }
  &:hover {
    filter: brightness(1.4);
  }
}

.input-text {
  max-width: 100%;
  font-size: 13px;
  font-weight: $fw-bold;
  padding: 14px 32px;
  border-radius: 32px;
  background-color: $color-very-light-gray;
  border: none;
  &:focus {
    outline: 3px dotted $color-bright-red;
  }
  @media (min-width: $md-screen) {
    max-width: 200px;
    padding: 14px 16px;
  }
}

.fs-13 {
  font-size: 13px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(11, 13, 23, 0.5));
  z-index: 5;
  display: none;
  &.active {
    display: block;
  }

  &--active {
    overflow-y: hidden;
    height: 100vh;
  }
}

/* Hamburger */
.hamburger {
  background: none;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
.hamburger span {
  background-color: $color-very-dark-blue;
  position: absolute;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 25px;
  height: 4px;
  transition-duration: 300ms;
}
.hamburger span:nth-child(1) {
  top: 2px;
  left: 2px;
}
.hamburger span:nth-child(2) {
  top: 9px;
  left: 2px;
  opacity: 1;
}
.hamburger span:nth-child(3) {
  top: 16px;
  left: 2px;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
}

//SWIPER PAGINATION
.swiper-pagination {
  position:absolute;
  bottom: 0;
  left:50%;
  & > .swiper-pagination-bullet {
    opacity: 1;
    border: $color-bright-red solid 1px;
    background-color: transparent;
  }
  & > .swiper-pagination-bullet-active {
    background-color: $color-bright-red;
  }
}

//KEYFRAMES

@keyframes NavbarInAnim {
    0%{
        top:-100px;
    }
    100%{
        top:0;
    }
}
@keyframes NavbarOutAnim {
    0%{
        top:0;
    }
    100%{
        top: -100px;
    }
}