$sm-screen: 576px;
$md-screen:768px;
$lg-screen:992px;
$xl-screen:144rem;
$max-width: 113.6rem;

$font-primary:'Be Vietnam', sans-serif;
$fw-light:400;
$fw-medium:500;
$fw-bold:700;


$color-bright-red:#f25f3a;
$color-dark-blue:#242d52;
$color-dark-grayish-blue:#9095a7;
$color-very-dark-blue:#1d1e25;
$color-pale-red:#ffefeb;
$color-very-light-gray:#fafafa;

