@font-face {
  font-family: 'Be Vietnam';
  src: url("./font/BeVietnam-Medium.woff2") format("woff2"), url("./font/BeVietnam-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url("./font/BeVietnam-Light.woff2") format("woff2"), url("./font/BeVietnam-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url("./font/BeVietnam-Bold.woff2") format("woff2"), url("./font/BeVietnam-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url("./font/BeVietnam-Bold.woff2") format("woff2"), url("./font/BeVietnam-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url("./font/BeVietnam-Light.woff2") format("woff2"), url("./font/BeVietnam-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url("./font/BeVietnam-Regular.woff2") format("woff2"), url("./font/BeVietnam-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url("./font/BeVietnam-Medium.woff2") format("woff2"), url("./font/BeVietnam-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: url("./font/BeVietnam-Regular.woff2") format("woff2"), url("./font/BeVietnam-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Be Vietnam", sans-serif;
  font-weight: 300;
}

*,
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  color: #242d52;
}

h1 {
  font-size: 38px;
  line-height: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #9095a7;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

main::before {
  position: absolute;
  content: '';
  background: url("../../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: -70% -16%;
  background-size: 126%;
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}

main::after {
  position: absolute;
  content: '';
  background: url("../../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 0 -8%;
  background-size: 100%;
  top: 20%;
  left: 60%;
  width: 100%;
  height: 50%;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
    line-height: 60px;
  }
  h2 {
    font-size: 38px;
    line-height: 50px;
  }
  p {
    font-size: 16px;
  }
  main::before {
    background-repeat: no-repeat;
    background-position: 135% 0;
    background-size: auto;
    top: -10%;
    right: 0;
  }
  main::after {
    background-repeat: no-repeat;
    background-position: -80% 0;
    background-size: auto;
    top: 50%;
    left: 0;
  }
}

.btn {
  font-size: 13px;
  font-weight: 700;
  padding: 14px 32px;
  border-radius: 32px;
  background: #f25f3a;
  color: #fafafa;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-transform: capitalize;
  -webkit-box-shadow: 0rem 2px 3px 2px rgba(242, 95, 58, 0.6);
          box-shadow: 0rem 2px 3px 2px rgba(242, 95, 58, 0.6);
}

.btn--secondary {
  background-color: #fafafa;
  color: #f25f3a;
}

.btn--sm {
  padding: 14px 24px;
}

.btn--no-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.input-text {
  max-width: 100%;
  font-size: 13px;
  font-weight: 700;
  padding: 14px 32px;
  border-radius: 32px;
  background-color: #fafafa;
  border: none;
}

.input-text:focus {
  outline: 3px dotted #f25f3a;
}

@media (min-width: 768px) {
  .input-text {
    max-width: 200px;
    padding: 14px 16px;
  }
}

.fs-13 {
  font-size: 13px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(11, 13, 23, 0.5)));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(11, 13, 23, 0.5));
  z-index: 5;
  display: none;
}

.overlay.active {
  display: block;
}

.overlay--active {
  overflow-y: hidden;
  height: 100vh;
}

/* Hamburger */
.hamburger {
  background: none;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}

.hamburger span {
  background-color: #1d1e25;
  position: absolute;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 25px;
  height: 4px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.hamburger span:nth-child(1) {
  top: 2px;
  left: 2px;
}

.hamburger span:nth-child(2) {
  top: 9px;
  left: 2px;
  opacity: 1;
}

.hamburger span:nth-child(3) {
  top: 16px;
  left: 2px;
}

.hamburger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: #f25f3a solid 1px;
  background-color: transparent;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #f25f3a;
}

@-webkit-keyframes NavbarInAnim {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@keyframes NavbarInAnim {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes NavbarOutAnim {
  0% {
    top: 0;
  }
  100% {
    top: -100px;
  }
}

@keyframes NavbarOutAnim {
  0% {
    top: 0;
  }
  100% {
    top: -100px;
  }
}

.intro {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 26px;
  padding-top: 110px;
  text-align: center;
}

.intro__content {
  max-width: 460px;
}

.intro__img {
  margin-bottom: 12px;
}

.intro__title {
  margin-bottom: 8px;
}

.intro__paragraph {
  margin-bottom: 30px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 190px 16px 0;
    text-align: left;
  }
  .intro__title {
    margin-bottom: 32px;
  }
  .intro__paragraph {
    margin-bottom: 40px;
    width: 340px;
  }
}

.about {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  margin-top: 92px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__intro {
  margin-bottom: 54px;
  padding: 0 30px;
}

.about__title {
  margin-bottom: 16px;
}

.about__card-container {
  margin-bottom: 64px;
}

.about__card {
  text-align: left;
  position: relative;
}

.about__card:not(:last-child) {
  margin-bottom: 40px;
}

.about__card-title {
  line-height: 38px;
  background-color: #ffefeb;
  margin-left: 26px;
  margin-bottom: 13px;
  padding-left: 72px;
}

.about__card-paragraph {
  padding: 0 16px;
}

.about__badge {
  background-color: #f25f3a;
  color: #fafafa;
  display: inline-block;
  line-height: 38px;
  padding: 0 24px;
  border-radius: 32px;
  position: absolute;
  top: 0;
  left: 16px;
}

@media screen and (min-width: 768px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 106px;
  }
  .about__intro {
    text-align: left;
  }
  .about__title {
    width: 480px;
    margin-bottom: 20px;
  }
  .about__paragraph {
    width: 360px;
  }
  .about__card {
    max-width: 460px;
  }
  .about__card:not(:last-child) {
    margin-bottom: 36px;
  }
  .about__card-title {
    line-height: 38px;
    background-color: transparent;
    margin-left: 16px;
    margin-bottom: 6px;
    padding-left: 0;
  }
  .about__badge {
    top: 0;
    left: -72px;
  }
}

.testimonials {
  width: 100%;
  padding: 0 26px;
  text-align: center;
  margin-bottom: 32px;
}

.testimonials__title {
  margin-bottom: 60px;
}

.testimonials__card-container {
  margin-bottom: 90px;
}

.testimonials__card {
  padding: 38px 26px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 536px;
  margin: 36px 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.testimonials__card-img {
  position: absolute;
  top: -36px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .testimonials {
    margin-top: 80px;
    padding: 0;
  }
  .testimonials__title {
    margin-bottom: 80px;
  }
  .testimonials__card-container {
    margin-bottom: 20px;
  }
  .testimonials__card {
    min-width: 536px;
    padding: 38px 44px;
  }
  .testimonials__card-title {
    margin: 26px 0;
  }
}

.get-started {
  width: 100%;
  padding: 100px 32px;
  text-align: center;
  background-color: #f25f3a;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.get-started::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: url("../../images/bg-simplify-section-mobile.svg") no-repeat;
  background-size: 24%;
  background-position: center left;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.get-started__container {
  max-width: 1136px;
  margin: 0 auto;
}

.get-started__title {
  color: #fafafa;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .get-started {
    padding: 52px 0;
    margin-top: 180px;
  }
  .get-started::after {
    background: url("../../images/bg-simplify-section-desktop.svg") no-repeat;
    background-position: bottom left;
    top: 0;
    left: 0;
    background-size: 120%;
  }
  .get-started__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
  }
  .get-started__title {
    max-width: 460px;
    font-size: 40px;
    line-height: 44px;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .get-started::after {
    background: url("../../images/bg-simplify-section-desktop.svg") no-repeat;
    left: 16%;
    background-size: 100%;
  }
}

.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #1d1e25;
}

.footer__container {
  padding: 46px 24px 26px;
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "subscribe" "nav" "socials" "brand" "copy";
}

.footer__subscribe {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: subscribe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 44px;
}

.footer__subscribe .input-text {
  margin-right: 6px;
}

.footer__nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.footer__socials {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: socials;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__brand {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: brand;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 36px;
}

.footer__brand-img {
  width: auto;
  height: 24px;
}

.footer__copy {
  text-align: center;
  color: #9095a7;
  font-size: 13px;
}

.footer__nav--rows {
  padding: 0 36px;
}

.footer__nav--columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav-item {
  padding: 6px 0;
  width: auto;
}

.footer__nav-item:not(:last-child) {
  padding-right: 32px;
}

.footer__nav-link {
  color: #fafafa;
  font-size: 13px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.footer__nav-link i {
  font-size: 30px;
}

.footer__nav-link i:hover {
  -webkit-transform: scale(1.2) rotate(-10deg);
          transform: scale(1.2) rotate(-10deg);
}

.footer__nav-link:hover {
  color: #f25f3a;
}

@media screen and (min-width: 768px) {
  .footer__container {
        grid-template-areas: "brand nav subscribe" "socials nav copy";
    -ms-grid-columns: 1fr 3fr 2fr;
        grid-template-columns: 1fr 3fr 2fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 16px 0;
  }
  .footer__nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__brand, .footer__socials {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__subscribe {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .footer__nav-item {
    padding: 8px 0;
  }
  .footer__nav-item:not(:last-child) {
    padding-right: 12px;
  }
  .footer__nav-link i {
    font-size: 24px;
  }
  .footer__copy {
    text-align: right;
  }
}

.header {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header.scrolled {
  position: fixed;
  background-color: #fff;
  top: 0;
  padding: 16px 0;
  z-index: 10;
  -webkit-box-shadow: 0rem 0rem 0.4rem 0rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0rem 0.4rem 0rem rgba(0, 0, 0, 0.2);
  -webkit-animation: NavbarInAnim .6s ease-in-out;
          animation: NavbarInAnim .6s ease-in-out;
}

.header__container {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
}

.header__brand {
  z-index: 10;
}

.header__brand-img {
  width: auto;
  height: 18px;
}

.header__toggle-btn {
  display: block;
  z-index: 10;
}

.header__nav {
  position: absolute;
  top: 70px;
  left: -100%;
  width: calc(100% - 48px);
  max-width: 420px;
  z-index: 10;
  background-color: #fff;
  border-radius: 6px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__nav.active {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.header__nav-item:not(:last-child) {
  margin-bottom: 24px;
}

.header__nav-link {
  font-size: 16px;
  font-weight: 700;
}

.header__get-started-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    top: 56px;
  }
  .header__toggle-btn {
    display: none;
  }
  .header__get-started-btn {
    display: block;
  }
  .header__brand-img {
    height: 24px;
  }
  .header__nav {
    position: relative;
    background: transparent;
    top: auto;
    left: auto;
  }
  .header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .header__nav-item:not(:last-child) {
    padding-right: 32px;
    margin-bottom: 0;
  }
  .header__nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #242d52;
  }
  .header__nav-link:hover {
    color: #9095a7;
  }
}
/*# sourceMappingURL=main.css.map */